logs/
wandb/
models/
features/
results/

tests/data/
*.pt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
sync.sh
gpu1sync.sh
.idea
*.pdf
**/._*
**/*DS_*
**.jsonl
src/sbatch
src/misc
.vscode
src/debug
core.*

# Allow
!src/evaluation/misc/results_dbs/*


# Ignore
/data/stnet
/data/human_lung_cell2location
/data/her2st
/data/breast_sc
/data/BRCA/CLAM-master
/data/BRCA/dsmil-wsi-master
/data/BRCA/organized_RNA_seq
/data/BRCA/RNA_seq
/data/BRCA/WSI/BRCA
/data/brca
/code/training/log
/code/training/model_weights
/code/training/pearson_log
/code/training/runs
/code/training/train_test_splits
/code/training/*.sh
/code/data_preprocessing/brca_cellabundance/breast_reference_signatures
/code/data_preprocessing/extracted_graph
/code/data_preprocessing/extracted_graph
/code/data_preprocessing/rawimg_graph
/code/data_preprocessing/selected_gene_lr_pairs
/code/analysis/inference/brca
/code/analysis/inference/breast_cross_source
/code/analysis/inference/her2st
/code/analysis/inference/humanlung
/*/*/*/*.png
/*/*/*/*/*.png
/code/analysis/pearson_analysis/pearson_corr_plot_each_case_her2st/*/*
/code/analysis/pearson_analysis/pearson_corr_plot_each_case_humanlung/*/*
/code/analysis/pearson_analysis/pearson_scatter_plot_each_case_cross_source/*/*
/code/analysis/pearson_analysis/pearson_scatter_plot_each_case_her2st/*/*
/code/analysis/pearson_analysis/pearson_scatter_plot_each_case_humanlung/*/*
/code/analysis/spatial_variation/*/*
/code/analysis/spatial_visualization/cross_source/*/*
/code/analysis/spatial_visualization/her2st/*/*
/code/analysis/spatial_visualization/humanlung/*/*
/code/analysis/sptial_colocalization/brca/*/*
/code/analysis/sptial_colocalization/brca/*.csv
/code/analysis/sptial_colocalization/cross_source/*/*
/code/analysis/sptial_colocalization/her2st/*/*
/code/analysis/sptial_colocalization/humanlung/*/*
/code/analysis/super_resolution/humanlung/super_resolution_splits/*
/code/analysis/super_resolution/stnet/all_in_one/*
/code/analysis/super_resolution/stnet/inference/*
/code/analysis/super_resolution/stnet/super_resolution_splits/*
/code/data_preprocessing/brca_cellabundance/BRCA_all_case_RNA_seq_tpm.csv
/code/data_preprocessing/brca_cellabundance/brca_cellabundance_estimation.h5ad
/code/analysis/super_resolution/stnet/cell_abundance_paper_figures/
/code/analysis/pearson_analysis/pearson_bar_with_std_each_case_cross_source/*.svg
/code/analysis/super_resolution/humanlung/all_in_one/*
/code/analysis/super_resolution/humanlung/cell_abundance_paper_figures/*
/code/analysis/pearson_analysis/pearson_scatter_plot_all_case_brca/*.svg
/code/analysis/sptial_colocalization/brca/*.svg
/code/analysis/super_resolution/humanlung/inference/*.pkl